//- Flowbite
script(src="/vendors/flowbite/flowbite.min.js")

//- Zod Schema validations
script(type="module", src="/vendors/zod/schemas.min.js")

//- Notfy toast
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>

//- Axios
script(src="/vendors/axios/axios.min.js")

//- User scripts
script(type="module" src="/js/util.js")